.page-home{ 
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 20px;

    /* justify-content: center;
    align-content: center; */

    justify-items: center;
    align-items: center;
}