.footer{
    width: 100%;
    height: 100%;
    background: rgb(255,0,0);
    color: white;
    font-weight: normal;
    font-family: 'Fredoka One', cursive;
    /* letter-spacing: 5px; */
    /* font-style: italic; */
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid rgb(138, 122, 122);
}