.pokemonListContainer{
  
    /* background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(243,255,2,1) 100%); */

    background-image: url('../assets/pokemon_berry_background.webp');
    background-repeat: repeat;

    height: 100%;
    width: 100%;

    overflow-y: scroll;

    display: grid;
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: auto;
    grid-template-areas:". list .";
    justify-content: center;
}

.pokemonListContainer::-webkit-scrollbar{
    display: none;
}

.pokemonListContainer--list{
    grid-area:list ;
    /* width:800px; */
    /* height: 100%; */
    /* background-color: aqua; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

@media only screen and (max-width:970px) {
    .pokemonListContainer{
        grid-template-columns: 5% 1fr 5%;
    }
    .pokemonListContainer--list{}
}


@media only screen and (max-width:570px) {
    .pokemonListContainer{
        grid-template-columns: 1% 1fr 1%;
    }
    .pokemonListContainer--list{}
}