.cardPokemon{
   grid-column: 1;
   grid-row: 1;

   background-color: transparent;
   box-shadow: none;
    margin: 10px;
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    width: 150px;
    height: 150px;
    display: block;
    text-decoration: none;
    box-sizing: border-box;
    transition: all 0.2s linear;
}



.cardPokemon:hover{
    background-color: rgb(211, 211, 211);
    box-shadow: 5px 5px rgb(56, 56, 56);
    color: white;
    cursor: pointer;
}


.cardPokemon:hover p{
    color: white;
    /* font-weight: 400; */
}

.contentCard{
    width: 100%;
    color: black;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contentCard>img{
    width: 100px;
}

.contentCard>p{
    /* background-color: tomato; */
    color: rgb(0, 0, 0);
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
}