.pokemonListContainer{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 1rem;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
   
    justify-content: center;

    height: 100%;
    width: 100%;

    grid-template-columns:200px 200px 200px 200px 200px;
    grid-template-rows: 200px;

    /* box-sizing: border-box; */

    overflow-y: scroll;
    
    padding: 15px 200px;
}

.pokemonListContainer::-webkit-scrollbar{
    display: none;
}